.myDiv {
    margin-top: 100px;
    padding-top: 100px;
    text-align: center;
    width: 300px;
    height: 400px;
    background-color: yellow;
    transform: skew(20deg, 10deg);
    border-radius: 15px;
    box-shadow: -10px 10px 10px #888888;
    position: absolute;
    left: 275px;
    animation-name: slideIn;
    animation-duration: 2s;
    perspective: 100px;
}

@keyframes slideIn {
    0% {
        left: 0px;
    }
    100% {
        left: 275px;
    }
}